h1{
    text-align: center;
    font-size: 34px;
    color: navy;
}
h2{
    text-align: center;
    font-size: 37px;
    color: green;
}
.btn{
    margin-left: 33%;
}
button{
    margin: 4px;
    width: 16%;
    height: 32px;
}